@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap');

/* cores 
    laranja #F27405
    marrom esccuro #592B02
    cinza fundo #F2F2F2
    cinza destaque #E2EADF 
    preto
    braco
*/

/*fontes
Fonte normal: font-family: Arial, Helvetica, sans-serif;
fonte destaque: font-family: 'Dancing Script', cursive;
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

main, body {
    width: 100vw; 
    background-color: #F2F2F2; 
}

a {
    color: #00000091;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main, div #img-fundo{
    background-image: url('imagens/img04.jpg');
    background-position: center center;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
    width: 100vw;
}

main > a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: auto;
    padding: 3%;
    background-color: rgb(3, 160, 3);
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.574);
    font-weight: bold;
    font-size: 2.5em;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
}

main > a:hover {
    transform: scale(1.1);
}

#logo {
    width: auto;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%;
}

#header {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 70px;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F27405;
    
}

#nav {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

#menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#menu a {
    display: block;
    padding: .5em;
    list-style: none;
    text-decoration: none;
    color: rgb(27, 25, 25);
    transition: 1s;
}

#menu a:hover {
    text-decoration: underline;   
}

#btn-mobile {
    display: none;
}

#imagem-main{
    background-image: url('../fotos/pao-mesa.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
    width: 100vw;
}

/*#vidro {
    margin: auto;
    width: 100vw;
    height: 300px;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(15px);
}*/

div#img_fundo h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(252, 252, 252, 0);
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 8%;
    width: 70vw;
}

div#img_fundo p {
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(252, 252, 252, 0);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 3% 0%;
    width: 65vw;
}

.info {
    display: block;
    margin: auto; 
    width: 100vw;
}

.video-descricao {
    display: flex;
    width: 90vw;
    margin: auto;
}

iframe {
    box-sizing: border-box;
    width: 60vw;
    height: 460px;
    margin: 3%;
    padding: 2%
}

.text-01 {
    display: flex;
    text-align: justify;
    align-items: center;
    width: 55vw;
    height: 400px;
    padding: 2%;
    margin: 3%;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

section#produtos{
    width: 100vw;
    height: auto;
    display: block;
}

h2 {
    font-size: 5em;
    width: 100vw;
    color: #592B02;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.484);
    background-color: #E2EADF;
    padding: 20px 0;
    margin: 50px 0px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#cards {
    display: flex;
    width: 100%;
    height: 100%;
}

.cards-single img {
    display: flex;
    margin-top: 90px;
    margin: 30px auto;
    width: 50%;
    height: 70%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.533);
    border-radius: 8px;
}

section#dicas {
    display: block;
    margin: auto;
}

#dicas h3{
    width: 100vw;
    color: #ffffff;
    background-color: #592B02;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.cuidados {
    display: flex;
    width: 100vw;
    height: auto;
}

.cuidados > p {
    display: block;
    color: rgb(0, 0, 0);
    width: 45vw;
    height: auto;
    padding: 2%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
}

.icones {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
}

#comprar > a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 50px auto;
    padding: 3%;
    background-color: rgb(3, 160, 3);
    color: rgb(255, 250, 250);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.574);
    font-weight: bold;
    font-size: 2.5em;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
}

#comprar > a:hover {
    transform: scale(1.1);
}

#testemunhos {
    display: block;
    width: 100vw;
    height: auto;
    padding-bottom: 3%;
}

.testemunho-container {
    display: flex;
    width: auto;
    align-items: center;
    margin: auto;
}

.testemunhos {
    display: block;
    width: 40%;
    height: 50%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(195, 194, 194);
    
}

.testemunhos p, span {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: auto;
    margin: auto;
    padding: 4%;
    height: auto;
    font-size: 1.5em;
}

.foto-testemunho {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.foto-testemunho{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#container {
    width: 100vw;
    height: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.intro-container {
    display: flex;
    width: 100vw;
    height: auto;
}

.intro-contatos h3 {
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 3%;
}

.intro-contatos {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 2% 0;
    text-align: center;
}

.icone-contato {
    filter: invert(1);
    width: 5%;
    height: 10%;
    margin: 2%;
}

.rodape {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

.rodape span {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: .8em;
}

@media (max-width: 768px) {

    main, div #img-fundo{
        background-image: url('imagens/img04.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        height: 100vh;
        width: 100%;
    }

    #logo {
        width: auto;
        height: 60px;
        border-radius: 50%;
        position: relative;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.519);
    }

    #header {
        display: flex;
        box-sizing: border-box;
        width: 100vw;
        height: 70px;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #F27405;
    }

    #menu {
        display: flex;
        list-style: none;
        gap: 3em;
        margin: auto;
        margin-right: auto;
        font-size: 1.2em;
        font-weight: bold;
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0px;
        color: #d9d3e8;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu a {
        display: block;
        padding: 10px;
    }

    #nav {
        display: flex;
        justify-content: space-between;
        margin-right: 10%;
    }

    #btn-mobile {
        display: block;
    }

    #btn-mobile {
        display: flex;
        padding: .6em;
        font-size: 1.5em;
        border: none;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
    }

    #nav.active #menu {
        display: block;
        text-align: center;
        height: 198px;
        visibility: visible;
        overflow-y: auto;
        color: #F27405;
        overflow-y: hidden;
    }

    #menu a {
        background-color:#F27405;
        color: #000000;
        margin: auto;
        border-bottom: 3px solid #592B02;
    }

    #menu a:hover {
        text-decoration: underline;
    }

    #hamburger {
        border-top: 3px solid black;
        width: 30px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        width: 30px;
        height: 3px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        transition: .7s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
        width: 30px;
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        width: 30px;
        top: -7px;
    }

    div#img_fundo h1 {
        font-size: 2em;
        padding-top: 18%;
        padding-bottom: 5%;
        margin: auto;
    }

    div#img_fundo p {
        font-size: 1em;
        padding-bottom: 10%;
        margin: auto;
    } 

    main > a {
        width: 40%;
        height: auto;
        font-size: 2em;
    }

    main > a:hover {
        background-color: rgb(255, 255, 255);
        color: #017813;
    }

    .info {
        display: block;
        margin: auto; 
        width: 100vw;
        height: auto;
    }

    .info h2 {
        font-size: 2.5em;
        color: #592B02;
        background-color: #E2EADF;
        text-align: center;
        display: block;
        width: 100%;
    }

    .video-descricao {
        display: block;
        width: 90vw;
        height: auto;
        margin: auto;
        text-align: center;
    }

    iframe {
        width: 85vw;
        margin: auto;
    }

    .text-01 {
        width: 85vw;
        margin: auto;
        height: 250px;
        font-size: 1.2em;
    }

    section#produtos{
        width: 100vw;
        height: auto;
        display: block;
    }

    h2 {
        font-size: 5em;
        width: 100vw;
        color: #592B02;
        text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.484);
        background-color: #E2EADF;
        padding: 20px 0;
        margin: 50px 0px;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    #cards {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .cards-single img {
        display: flex;
        margin-top: 90px;
        margin: 30px auto;
        width: 50%;
        height: 70%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.533);
        border-radius: 8px;
    }

    .fotos section {
        width: auto;
        display: block;
    }

    #dicas h3{
        width: 100vw;
        color: #ffffff;
        background-color: #592B02;
        padding: 20px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 1px 2px 2px rgb(0, 0, 0);
    }

    .cuidados {
        display: block;
        width: 100vw;
        height: auto;
        padding: 2%;
    }

    .cuidados > p {
        width: 80vw;
        font-size: 1em;
    }

    .icones {
        display: block;
        width: 100px;
        height: 100px;
        margin: auto;
        padding: 2%;
    }

    #comprar > a {
        width: 40%;
    }

    .testemunhos p, span {
        width: auto;
        display: block;
        font-size: 1em;
    }

    /* Estilização do footer*/

    #container {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        width: 100vw;
        overflow-x: hidden;
    }

    .footer-conts{
        display: flex;
        width: 50%;
    text-align: center;
    }

    .contatos {
        display: block;
        width: 50%;
    }

    .contatos h3 {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-align: center;
    }

    .icone-contato {
        width: 8%;
        filter: invert(1);
        margin: 1%;
        padding: 2%;
    }

}

@media (max-width: 320px) {

    #header {
        height: 50px;
        justify-content: space-between;
    }

    #logo {
        height: 35px;
        margin-left: 40%;
    }

    #hamburger {
        border-top: 3px solid black;
        width: 20px;
    }
    
    #hamburger::after, #hamburger::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        transition: .7s;
        position: relative;
    }
    
    #nav.active #hamburger {
        border-top: transparent;
    }
    
    #nav.active #hamburger::before {
        transform: rotate(135deg);
        width: 20px;
    }
    
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        width: 20px;
        top: -7px;
    }

    #menu {
        font-size: 1em;
        top: 50px;
    }

    main {
        width: 100vw;
        height: 100vh;
    }
    
    main, div #img-fundo{
        background-size: cover;
    }
   
    div#img_fundo h1 {
        font-size: 1.2em;
        padding-top: 25%;
        padding-bottom: 20%;
    }
    
    div#img_fundo p {
        font-size: .6em;
        padding-bottom: 20%;  
    } 
    
    main > a {
        width: 50%;
        padding: 4%;
        font-size: 1.5em;
    }
        
    .info h2 {
        font-size: 1.3em;
    }
    
    .video-descricao {
        display: block;
        width: 85vw;
    }
    
    iframe {
        width: 85vw;
    }
    
    .text-01 {
        width: 80vw;
        font-size: .8em;
    }
    
    #produtos section {
        width: auto;
        display: block;
    }
    
    h2 {
        font-size: 1.3em;
    }
    
    #dicas h3{
        font-size: 1.2em; 
    }
    
    .cuidados > p {
        width: 90vw;
        font-size: .6em;
    }
    
    .icones {
        width: 50px;
        height: 50px;
    }
    
    #comprar > a {
        width: 50%;
        padding: 3%;
        font-size: 1.5em;
    }

    .testemunhos {
        width: 80vw;
    }
    
    .testemunhos p, span {
        width: 70vw;
        padding: 4%;
        font-size: .8em;
    }
    
    /* Estilização do footer*/
    
    .intro-contatos h3 {
        font-size: 1.1em;
    }
    
    .intro-contatos {
        height: auto;
    }

    .intro-contatos p {
        font-size: .5em;
    }
    
    .icone-contato {
        filter: invert(1);
        width: 8%;
        height: 10%;
        margin: 2%;
    }
}