@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap');

/* cores 
    laranja #F27405
    marrom esccuro #592B02
    cinza fundo #F2F2F2
    cinza destaque #E2EADF 
    preto
    braco
*/

/*fontes
Fonte normal: font-family: Arial, Helvetica, sans-serif;
fonte destaque: font-family: 'Dancing Script', cursive;
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

main, body {
    width: 100vw; 
    background-color: #F2F2F2; 
}

a {
    color: #00000091;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main, div #img-fundo{
    background-image: url('imagens/img04.jpg');
    background-position: center center;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
    width: 100vw;
}

main > a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: auto;
    padding: 3%;
    background-color: rgb(3, 160, 3);
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.574);
    font-weight: bold;
    font-size: 2.5em;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
}

main > a:hover {
    transform: scale(1.1);
}

#logo {
    width: auto;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

#header {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 90px;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F27405;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    gap: .5em;
}

#menu a {
    display: block;
    padding: .5em;
    list-style: none;
    text-decoration: none;
    color: rgb(27, 25, 25);
    transition: 1s;
}

#menu a:hover {
    text-decoration: underline;   
}

#btn-mobile {
    display: none;
}

#imagem-main{
    background-image: url('../fotos/pao-mesa.jpg');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
    width: 100vw;
}

div#img_fundo h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(252, 252, 252, 0);
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 6%;
    width: 70vw;
}

div#img_fundo p {
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(252, 252, 252, 0);
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 4% 0%;
    width: 65vw;
}

h1 {
    padding: 2%;   
}

.info {
    display: block;
    margin: auto; 
    width: 100vw;
}

.video-descricao {
    display: flex;
    width: 90vw;
    margin: auto;
}

iframe {
    box-sizing: border-box;
    width: 60vw;
    height: 460px;
    margin: 3%;
    padding: 2%
}

.text-01 {
    display: flex;
    text-align: justify;
    align-items: center;
    width: 55vw;
    height: 400px;
    padding: 2%;
    margin: 3%;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#produtos section {
    width: auto;
    display: block;
}

h1 {
    font-size: 3em;
    width: 100vw;
    color: #000000;
    background-color: #4bb125 ;
    margin: 50px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 5em;
    width: 100vw;
    color: #592B02;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.484);
    background-color: #E2EADF;
    padding: 20px 0;
    margin: 50px 0px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#cards {
    display: block ;
    width: 100%;
    margin: auto;
}

.cards-single img {
    width: 20%;
    height: 20%;
    margin: 20px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.533);
    border-radius: 8px;
}

#dicas h3{
    width: 100vw;
    color: #ffffff;
    background-color: #592B02;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.cuidados {
    display: flex;
    width: 100vw;
    height: 300px;
}

/*#dicas {
    background-image: url('imagens/pao-mesa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ceccd7;
    width: 100vw;
}*/

.cuidados > p {
    display: block;
    color: rgb(0, 0, 0);
    width: 50vw;
    height: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

.icones {
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
}

#comprar > a {
    display: block;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 50px auto;
    padding: 3%;
    background-color: rgb(3, 160, 3);
    color: rgb(255, 250, 250);
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.574);
    font-weight: bold;
    font-size: 2.5em;
    border-radius: 25px;
    text-align: center;
    transition: 1s;
}

#comprar > a:hover {
    transform: scale(1.1);
}

#testemunhos {
    display: block;
    width: 100vw;
    height: auto;
    margin: auto;
    padding-bottom: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testemunhos {
    display: block;
    width: 450px;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

.testemunhos p, span {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: auto;
    margin: auto;
    padding: 4%;
    height: auto;
    font-size: 1.5em;
}

.foto-testemunho {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.foto-testemunho{
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#container {
    width: 100vw;
    height: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.intro-container {
    display: flex;
    width: 100vw;
    height: auto;
}

.intro-contatos h3 {
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 3%;
}

.intro-contatos {
    display: block;
    width: 50%;
    height: 300px;
    margin: auto;
    padding: 2% 0;
    text-align: center;
}

.icone-contato {
    filter: invert(1);
    width: 5%;
    height: 10%;
    margin: 2%;
}

.rodape {
    display: flex;
    font-size: .8em;
    width: 100vw;
    background-color: #000000;
    color: white;
    text-align: center;
    margin: auto;
}

/*Início do header - tentando alguma coisa parecido com mobile first*/

/* cores 
    laranja #F27405
    marrom esccuro #592B02
    cinza fundo #F2F2F2
    cinza destaque #E2EADF 
    preto
    braco
*/

/*fontes
Fonte normal: font-family: Arial, Helvetica, sans-serif;
fonte destaque: font-family: 'Dancing Script', cursive;
*/

@media (max-width: 768px) {
a {
    color: black;
    text-decoration: none;
    transition: .6s;
}

a:hover {
    background-color:#00000091;
    color: #ceccd7;
}

main {
    width: 100vw;
    height: 100vh;
}

main, div #img-fundo{
    background-image: url('imagens/img04.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 100vh;
    width: 100%;
}

#logo {
    width: auto;
    height: 70px;
    border-radius: 50%;
}

#header {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 90px;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F27405;
}

#menu {
    display: flex;
    list-style: none;
    gap: 3em;
    margin: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 90px;
    right: 0px;
    color: #d9d3e8;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#menu a {
    display: block;
    padding: 10px;
}

#btn-mobile {
    display: block;
}

#logo {
    position: relative;
    left: 40%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.519);
}

#nav.active #menu {
    display: block;
    text-align: center;
    height: 198px;
    visibility: visible;
    overflow-y: auto;
    color: #F27405;
    overflow-y: hidden;
}

#menu a {
    background-color:#F27405;
    color: #000000;
    margin: auto;
    border-bottom: 3px solid #592B02;
}

#menu a:hover {
    text-decoration: underline;
}

#btn-mobile {
    display: flex;
    padding: .6em;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

#hamburger {
    border-top: 3px solid black;
    width: 30px;
}

#hamburger::after, #hamburger::before {
    content: '';
    width: 30px;
    height: 3px;
    background-color: currentColor;
    display: block;
    margin-top: 5px;
    transition: .7s;
    position: relative;
}

#nav.active #hamburger {
    border-top: transparent;
}

#nav.active #hamburger::before {
    transform: rotate(135deg);
    width: 30px;
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    width: 30px;
    top: -7px;
}

div#img_fundo h1 {
    font-size: 3em;
    padding-top: 20%;
    padding-bottom: 5%;
    margin: auto;
}

div#img_fundo p {
    font-size: 1.5em;
    padding-bottom: 10%;
    margin: auto;
} 

main > a {
    width: 40%;
    height: auto;
    font-size: 2em;
}

main > a:hover {
    background-color: rgb(255, 255, 255);
    color: #017813;
}

/*h1 {
    font-size: 2em;
    width: 100vw;
    color: #f41313;
    background-color: #a5a4a45d;
    margin: 50px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3% 0;
}*/

.info {
    display: block;
    margin: auto; 
    width: 100vw;
}

.info h2 {
    font-size: 2.5em;
    color: #592B02;
    background-color: #E2EADF;
    text-align: center;
    display: block;
    width: 100%;
}

.video-descricao {
    display: flex;
    width: 90vw;
    margin: auto;
}

iframe {
    width: 50vw;
    height: auto;
}

.text-01 {
    width: 50vw;
    height: auto;
    font-size: 1.2em;
}

#produtos section {
    width: auto;
    display: block;
}

h1 {
    font-size: 3em;
    width: 100vw;
    color: #000000;
    background-color: #4bb125 ;
    margin: 50px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3em;
}

#cards {
    display: block ;
    width: 100%;
    margin: auto;
}

.cards-single img {
    width: 20%;
    height: 20%;
    margin: 20px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.533);
    border-radius: 8px;
}

.fotos section {
    width: auto;
    display: block;
}

#dicas h3{
    width: 100vw;
    color: #ffffff;
    background-color: #592B02;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.cuidados {
    display: block;
    width: 100vw;
    height: auto;
    padding: 2%;
}

.cuidados > p {
    width: 80vw;
    font-size: 1.2em;
}

.icones {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 2%;
}

#comprar > a {
    width: 40%;
}

.testemunhos p, span {
    display: block;
    font-size: 1em;
}

/* Estilização do footer*/

#container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    width: 100vw;
    overflow-x: hidden;
}

.footer-conts{
    display: flex;
    width: 50%;
   text-align: center;
}

.contatos {
    display: block;
    width: 50%;
}

.contatos h3 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

.icone-contato {
    width: 8%;
    filter: invert(1);
    margin: 1%;
    padding: 2%;
}
.rodape {
   color: white;
    text-align: center;
    display: inline-block;
}

.rodape span {
    font-size: 1em;
    padding: 2%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
}

@media (max-width: 548px) {

iframe {
    width: 95%;
    margin: auto;
}
}